.matrix-container {
    display: inline-block;
    position: relative;
    margin: 10px auto;
}

.matrix-container .matrix {
    border-collapse: collapse;
    position: relative;
}

.matrix-container .matrix:before,
.matrix-container .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 6px;
    border: 2px solid #000;
}

.matrix-container .matrix:before {
    left: -8px;
    border-right: none;
}

.matrix-container .matrix:after {
    right: -8px;
    border-left: none;
}

.matrix td {
    border: 0px solid #eee;
    padding: 1px 8px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.matrix td.highlight {
    background-color: #ffe08a;
    font-weight: bold;
}

.matrix-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 10px;
}

.matrix-label {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

/* 额外组件样式 */
#threedep {
    margin-bottom: -320px !important;
}