.matrix-container {
    display: inline-block;
    position: relative;
    margin: 10px auto;
    vertical-align: middle;
}

.matrix-container .matrix {
    border-collapse: collapse;
    position: relative;
}

.matrix-container .matrix:before,
.matrix-container .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 6px;
    border: 1.5px solid #000;
}

.matrix-container .matrix:before {
    left: 0px;
    border-right: none;
}

.matrix-container .matrix:after {
    right: 0px;
    border-left: none;
}

.matrix td {
    border: 0px solid #eee;
    padding: 1px 8px;
    text-align: center;
    /* text-align: flex-start; */
    font-family: "Times New Roman", Times, serif;
}

.matrix td.highlight {
    background-color: #ffe08a;
    /* font-weight: bold; */
}

.matrix-row {
    display: inline-flex;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 10px;
    margin: 2px;
}

.matrix-label {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

/* 额外组件样式 */
#threedep {
    /* display: block;
    margin: 0;
    padding: 0;
    max-width: auto;
    height: auto;
    object-fit: contain;
    float: left;
    clear: both; */
    margin-bottom: -300px !important;
}